<div class="modal-header">
  <h2>Admin, Please select one of the views</h2>
</div>
<div class="modal-body">
  <button type="button" name="button" ng-click="controller.nukeSomething()">Nuke Something</button>
  <button type="button" name="button" ng-click="controller.adminView()">Admin View</button>
  <button type="button" name="button" ng-click="controller.studentView()">Student View</button>
</div>
<div class="modal-footer">
  <button type="button" ng-click="controller.ok()" class="btn btn-danger">Close</button>
</div>
