<br>
<br>
<br>
<br>

<div class= "well well-lg">
Search Service

<button class="btn btn-default" style="float:right" ng-click="">Restore</button>
<button class="btn btn-default" style="float:right" ng-click="">Clear Content</button>

<select name="languages" ng-model="controller.language">
  <option value="JavaScript" ng-model = "controller in languageController">JavaScript</option>
  <option value="Ruby">Ruby</option>
  <option value="C#">C#</option>
  <option value="Java">Java</option>
</select>


</div>

<!-- Does admin need to review before nuking contents?
Does the admin want to pull all content of language selected
  onto the admin page to clear content or reset all? -->
