<br>
<br>
<br>
<br>

<div class= "well well-lg">
Display Service

<button class="btn btn-default" style="float:right" ng-click="controller.restoreDefaultDisplay">Restore</button> <!--restore back to default code-->
<button class="btn btn-default" style="float:right" ng-click="controller.clearContentDiplay">Clear Content</button> <!--clears content for specific microservice-->

</div>
<br>
<div class= "well well-lg">
Add Service

<button class="btn btn-default" style="float:right" ng-click="controller.restoreDefaultAdd">Restore</button>
<button class="btn btn-default" style="float:right" ng-click="controller.clearContentAdd">Clear Content</button>

</div>
<br>
<div class= "well well-lg">
Search Service

<button class="btn btn-default" style="float:right" ng-click="controller.restoreDefaultService">Restore</button>
<button class="btn btn-default" style="float:right" ng-click="controller.clearContentServic">Clear Content</button>

</div>
