<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-9">
    <div class="questionInfo">
      <h4 class="h4Question">{{controller.question.qTitle}}
        <i class="fa fa-pencil" ng-click="controller.showEditQuestionModal(question._id)"></i>
      </h4>
      <hr>
      <div class="pQuestion"><span>{{controller.question.qContent}}</span></div>
    </div>
    <div class="answers">
      <ul class="answersUL"  ng-repeat="answer in controller.answers">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">

              <span>
                <h3><i class="fa fa-sort-asc fa-xl" ng-click="controller.countUpTickAnswer(answer)"></i></h3>
                {{answer.usefulCount}}
              </span>
            </div>
            <div class="col-sm-22">
              <li class="question">
                <span>{{answer.aContent}}</span><br>
                <span><button type="button" ng-click="controller.CommentsModal(answer._id)">Reply</button></span>
                <span class="pull-right">{{answer.aDate}}</span><br>
                <span class="pull-right">
                <i class="fa fa-trash" aria-hidden="true" ng-click="controller.deleteAnswer(answer._id)"></i>
                <i class="fa fa-pencil" aria-hidden="true" ng-click="controller.showEditAnswerModal(answer)"></i>
                </span>
              </li>
            </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="theLessons">
      <h3 class="h3Lessons">Course Lessons</h3>
        <ul class="aLessonsUL">
          <li class="aLessonLI">Lesson 1</li>
          <li class="aLessonLI">Lesson 2</li>
        </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="aForm">
      <textarea name="name" class="answerText" ng-model="controller.newAnswer.aContent" rows="4" cols="80">Please enter your answer/solution...</textarea>
      <button type="button" class="answerButton" ng-click="controller.addAnswer()">Answer</button>
    </form>
  </div>
</div>
