<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-9">
    <div class="questionInfo">
      <h4 class="h4Question">{{controller.question.qTitle}}</h4>
      <hr>
      <p class="pQuestion"><span>{{controller.question.qContent}}</span></p>
    </div>
    <div class="answers">
      <ul class="answersUL"  ng-repeat="answer in controller.answers">
        <li class="answerLI">
          <p class="answer">{{answer.aContent}}</p>
          <button type="button" class="replyButton" ng-click="controller.listComments(answer._id)">Reply</button>
          <button type="button" ng-click="controller.deleteAnswer(answer._id)">Delete</button>
          <div class="discussionContainer">
            <hr>
            <ul class="disUL" ng-repeat="comment in controller.comments">
              <li class="disLI">
                <span>{{comment.aComment}}</span>
                <span>{{comment.cDate}}</span>
              </li>
            </ul>
            <textarea name="name" class="disText" rows="4" cols="50" placeholder="This is for dis"></textarea>
            <button type="button" class="respondButton" >Respond</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="theLessons">
      <h3 class="h3Lessons">Course Lessons</h3>
        <ul class="aLessonsUL">
          <li class="aLessonLI">Lesson 1</li>
          <li class="aLessonLI">Lesson 2</li>
        </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="aForm">
      <textarea name="name" class="answerText" ng-model="controller.newAnswer.aContent" rows="4" cols="80">Please enter your answer/solution...</textarea>
      <button type="button" class="answerButton" ng-click="controller.addAnswer()">Answer</button>
    </form>
  </div>
</div>
