<br>
<br>
<br>
<br>
<br>

<div>
  <ul class="homeUL">
    <li class="liste" ng-repeat="course in controller.courses"><div class="container">
      <i class="fa fa-trash fa-2x" aria-hidden="true" id="trashcan" ng-click="controller.delete(course)"></i>
      <img class="image" src="/hex.png" />
      <h6 class="text" ng-click="controller.redirectToLessons(course._id)">
        {{course.name}}
      </h6>
    </div></li>
  </ul>
</div>

<form>
  <input type="text" ng-model="controller.newCourse.name">
  <button type="button" name="button" ng-click="controller.addCourse()">add</button>
</form>


<h1>NOTE TO JUSTIN: WORK ON TOGGLE AND EDIT FEATURES/finish navbar dropdown</h1>
