<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-9">
    <div class="lessonsHeaderContainer">
      <h2 class="headerTitle">Welcome to Front End Foundations HTML5 Corner</h2>
    </div>
    <div class="lessons">
      <ul class="lessonsList">
        <li class="lesson">Lesson 1</li>
        <li class="lesson">Lesson 2</li>
        <li class="lesson">Lesson 3</li>
        <li class="lesson">Lesson 4</li>
        <li class="lesson">Lesson 5</li>
        <li class="lesson">Lesson 1</li>
        <li class="lesson">Lesson 2</li>
        <li class="lesson">Lesson 3</li>
        <li class="lesson">Lesson 4</li>
        <li class="lesson">Lesson 5</li>
        <li class="lesson">Lesson 1</li>
        <li class="lesson">Lesson 2</li>
        <li class="lesson">Lesson 3</li>
        <li class="lesson">Lesson 4</li>
        <li class="lesson">Lesson 5</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="trending">
      <div class="trendingIn">
        <h4 class="trendingTitle">Trending in HTML5</h4>
        <ul class="trendingUL">
          <li class="trendingLI">something 1</li>
          <li class="trendingLI">something 2</li>
          <li class="trendingLI">something 3</li>
          <li class="trendingLI">something 4</li>
        </ul>
      </div>
    </div>
  </div>
</div>
