<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-9">
    <div class="lessonsHeaderContainer">
      <h2 class="headerTitle">Welcome</h2>
    </div>
    <div class="lessons">
      <ul class="lessonsList" ng-repeat="lesson in controller.lessons" ng-click="controller.redirectToQuestions(course._id)">
        <li class="lesson">{{lesson.title}} 1</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="trending">
      <div class="trendingIn">
        <h4 class="trendingTitle">Trending in HTML5</h4>
        <ul class="trendingUL">
          <li class="trendingLI">something 1</li>
          <li class="trendingLI">something 2</li>
          <li class="trendingLI">something 3</li>
          <li class="trendingLI">something 4</li>
        </ul>
      </div>
    </div>
  </div>
</div>
