<!DOCTYPE html>
<html>
<br>
<br>
<br>
<br>
<br>
  <head>
    <meta charset="utf-8">
    <title ng-init="lesson in controller.lesson_id:">{{lesson.title}}</title>
  </head>
  <body>
    <textarea id="lessoncontent" placeholder="Enter lesson content here" rows="20" cols="120">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid2dunt ut la50re et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </textarea> <br>
  <video width="900px" height="auto" poster="http://media0.giphy.com/media/H4uE6w9G1uK4M/giphy.gif" controls>
   <source src="movie.mp4" type="video/mp4">
   <source src="movie.ogg" type="video/ogg">
   Your browser is currently loading the video.
</video>

<p><strong>Note:</strong> If the video is loading too slowly please try viewing on a different browser.</p><br>
<textarea id="additionalnotes" placeholder="Enter additional lesson notes here" rows="20" cols="120">
</textarea> <br>
  </body>
</html>
