<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>404 Error</title>
    <style>
    body{
      background-image: url("https://www.codercamps.com//_images/bg-home-showcase.jpg");
      background-repeat: repeat;
    }
    </style>
  </head>
  <body>
    <div class = 'center' style = 'position:absolute; top:50%; bottom:50%; right:20%; left:20%; '>
      <div id = 'centerthis' style = 'margin:auto;'>
    <img src="https://students.codercamps.com/Images/codercamps-logo-01.svg">
    <h3>We're sorry, there is an issue with your link.  Please visit the <a href="/NgApp/views/home.html">Main Menu</a> to review your options</h3>
      </div>
    </div>
  </body>
</html>
