<!DOCTYPE html>
<div class="notFoundpage">
<html>
  <head>
    <meta charset="utf-8">
    <title>404 Error</title>
  </head>
  <body>
    <div class = 'center' style = 'position:absolute; top:10%; bottom:50%; right:20%; left:20%'>
      <div id = 'centerthis' style = 'margin:auto;'>
        <h3>We're sorry, but you're lost.  Please use this for directions <a href="/">here</a>.</h3>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/0e/8f/72/truly-in-the-middle-of.jpg" width="110%"/>
      </div>
    </div>
  </body>
</html>
</div>
