<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-9">
    <div class="lessonHeaderContainer">
      <h2 class="lessonTitle" ng-model="controller.getLessonName(lesson)">{{lesson.name}}</h2>
    </div>
    <div class="questions">
      <ul class="questionsList" ng-repeat="question in controller.questions">
        <li class="question" ng-click="controller.redirectToAnswers(question._id)">{{question.qTitle}}</li>
        <li class="question">{{question.qDate}}</li>
        <button class="questionClickCount" ng-click="controller.questionClickCount(questionId)">{{question.clickCount}}</button>
        <!-- <li class="question">Question 5</li>
        <li class="question">Question 1</li>
        <li class="question">Question 2</li>
        <li class="question">Question 3</li>
        <li class="question">Question 4</li>
        <li class="question">Question 5</li>
        <li class="question">Question 1</li>
        <li class="question">Question 2</li>
        <li class="question">Question 3</li>
        <li class="question">Question 4</li>
        <li class="question">Question 5</li> -->
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="askQuestion">
      <form>
        <input type="text" class="newQuestionTitle" placeholder="Question Title">
        <input type="text" class="newQuestionBody" placeholder="code link" rows="1" cols="100">
        <textarea type="text" class="newQuestionBody" placeholder="Question Body" rows="10" cols="100"></textarea>
        <button type="button" class="questionButton">Ask</button>
      </form>
    </div>
  </div>
</div>
