<br>
<br>
<br>
<br>
<br>

<!-- g-click="controller.questionClickCount(questionUptick)" -->

<div class="row">
  <div class="col-md-9">
    <div class="lessonHeaderContainer">
      <h2 class="lessonTitle">{{controller.lesson.title}}</h2>
    </div>
    <div class="questions">
      <ul class="questionsList" ng-repeat="question in controller.questions" >
        <div class="row">
          <div class="col-md-1">
          <span ng-click="controller.question.questionClickCount(questionUptick)">
          <center><h3><i class="fa fa-sort-asc fa-xl" aria-hidden="true"></i></h3></center>
        </span>
      </div>
      <div class="col-md-23">
        <li class="question">
          <span ng-click="controller.redirectToAnswers(question._id)">{{question.qTitle}}</span>
          <span style="padding-left:75px">{{question.qDate}}</span>
        </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="askQuestion">
      <form>
        <input type="text" class="newQuestionTitle" placeholder="Question Title" ng-model="controller.question.qTitle">
        <input type="text" class="newQuestionBody" placeholder="code link" rows="1" cols="100">
        <textarea type="text" class="newQuestionBody" placeholder="Question Body" rows="10" cols="100" ng-model="controller.question.qContent"></textarea>
        <button type="button" class="questionButton" ng-click="controller.add(question)">Ask</button>
      </form>
    </div>
  </div>
</div>
