<br>
<br>
<br>
<br>
<br>

<!-- g-click="controller.questionClickCount(questionUptick)" -->

<div class="row">
  <div class="col-md-9">
    <div class="lessonHeaderContainer">
      <h2 class="lessonTitle">Questions</h2>
    </div>
    <div class="questions">
      <ul class="questionsList" ng-repeat="question in controller.questions">
        <li class="question">
          <span>
            <i class="fa fa-sort-asc fa-xl" aria-hidden="true"></i>
          </span>
           <span  ng-click="controller.redirectToAnswers(question._qTitle)"> -->
            {{question.qTitle}}
          </span>
         </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="askQuestion">
      <form>
        <input type="text" class="newQuestionTitle" placeholder="Question Title" ng-model="controller.question.qTitle">
        <input type="text" class="newQuestionBody" placeholder="code link" rows="1" cols="100">
        <textarea type="text" class="newQuestionBody" placeholder="Question Body" rows="10" cols="100" ng-model="controller.question.qContent"></textarea>
        <button type="button" class="questionButton" ng-click="controller.add(question)">Ask</button>
      </form>
    </div>
  </div>
</div>
