<!DOCTYPE html>
<html ng-app="mainsos">

<head>
  <title>mainsos</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/ngApp/css/main.css"/>
</head>

<body>

      <div id="topBar">
        <ul class="bar">
          <li id="dropDownMenu" class="menu"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></li>
          <li class="menu"><img src="SOSs.png" alt="logo" class="ccLogo"></li>
          <li class="menu"><input type="text" class="search" placeholder="Search..."></li>
          <li class="menu"><button type="button" class="searchButton">Search</button></li>
          <li class="menu">
            <button type="button" name="button">Get Help</button>
            <button type="button" name="button"  ng-controller="indexController as controller" ng-click="controller.openAdminModal()">Admin</button>
          </li>
          <li class="menu"><img src="saveourstacks.png" alt="logo" class="ssLogo"></li>
        </ul>
      </div>

        <div id="dropDownContents" ng-controller="indexController as controller">
          <ul id="courses">
            <li class="dropdown" id='home'><div class="dropdownitem">
              <a href="/" class="idLink">
                <img class="rounded" src="/smoothsquare.png" />
                  <p class="roundeditem">
                    Home
                  </p>
              </a>
            </div></li>
            <li class="dropdown" ng-repeat="course in controller.courses"><div class="dropdownitem">
              <img class="rounded" src="/smoothsquare.png" />
                <p class="roundeditem">
                  {{course.name}}
                </p>
            </div></li>
          </ul>
        </div>


      <ui-view></ui-view>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>

  <script src="/ngApp/UIfunctions/UIfunctions.js"></script>

  <script src="/ngApp/app.js"></script>

  <script src="/ngApp/controllers/adminController.js"></script>
  <script src="/ngApp/controllers/homeController.js"></script>
  <script src="/ngApp/controllers/indexController.js"></script>
  <script src="/ngApp/controllers/lessonController.js"></script>
  <script src="/ngApp/controllers/answerController.js"></script>
  <script src="/ngApp/controllers/questionController.js"></script>
  <script src="/ngApp/controllers/adminAnswerController.js"></script>
  <script src="/ngApp/controllers/adminCourseController.js"></script>
  <script src="/ngApp/controllers/adminLessonController.js"></script>
  <script src="/ngApp/controllers/adminQuestionController.js"></script>

  <script src="/ngApp/controllers/modalController.js"></script>

  <script src="/ngApp/services/answerService.js"></script>
  <script src="/ngApp/services/commentService.js"></script>
  <script src="/ngApp/services/courseService.js"></script>
  <script src="/ngApp/services/lessonService.js"></script>
  <script src="/ngApp/services/questionService.js"></script>


  <script src="/ngApp/services/test.js"></script> <!-- NOTE: This line will be deleted, using it to test connectionssss -->


</body>

</html>
