.liste:hover .text{
  font-size: 2em;
  position: relative;
  text-decoration: none;
}

.liste{
  display: inline-flex;
  padding: 10px 5px;;
  width: 300px;
  height: 300px;
  text-align: center;
  float: none;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}
.image {
  position: relative;
  height: 300px;
  width: 100%;
  text-align: center;

}
.text {
  z-index: 100;
  position: relative;
  color: black;
  font-weight: bold;
  top: -200px;
  width: 200px;
  margin: 0 auto;
  font-size: 1.25em;
}

.homeUL{
  text-align: center;
  padding: 0;
}

.idLink{
  text-decoration: none;
  color: black;
}

#trashcan{
  float: right;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: left;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #767676;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #228B22;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
