.lessonsHeaderContainer{
  border: 2px solid black;
  width: 85%;
  margin-left: calc(100%/10);
  padding: calc(100%/50);
  background-color: white;
}

.lessons{                    //this is the div

}

.lessonsList{               //this is the UL

}

.lesson{                    //this is the li
  list-style: none;
  border: 2px solid black;
  margin-left: calc(100%/7);
  width: 80%;
  padding: calc(100%/50);
  margin-top: calc(100%/95);
  background-color: white;
}

.trending{        //main div
  position: fixed;
  width: 20%;
  border: 2px solid black;
  height: 500px;
  background-color: white;
}

.trendingIn{       //div for trending in what

}

.trendingUL{      //ul for trending list

}

.trendingLI{       //trending list items
  list-style: lower-roman;
  padding: calc(100%/80);
  border-bottom: 2px solid black;
  width: calc(100%/1.2);
  margin: calc(100%/95);
}

.trendingTitle{    //h4 trending title
  position: center;
  border: 2px solid black;
  width: calc(100%/1.75);
  margin-left: calc(100%/4);
  padding: calc(100%/55);
}
