body {
  background-image: url("/design.png");
  background-repeat: repeat;
}


@import "header";
@import "dropdown";
@import "home";
@import "lessons";
@import "questions";
@import "answers";
@import "admin";
