body {
  background-image: url("/design.png");
  background-repeat: repeat;
}

$almond: #42f4f1;

@import "header";
@import "dropdown";
@import "home";
@import "lessons";
@import "questions";
@import "answers";
@import "admin";
